<div class="container">

  <div class="timer" style="color:lightblue">{{timerDisplay}}</div>

  <md-card>
    <md-card-subtitle>Typing Test.</md-card-subtitle>
    <md-card-title>
      <span class="para-done">
      {{paraDone}}
    </span>
    <span class="para-working">
      <mark>{{paraWorking}}</mark>
    </span>
    <span class="para-left">
      {{paraLeft}}
    </span>
    </md-card-title>

  </md-card>

  <md-input type="text"
  style="width:100%"
    autofocus
    aria-placeholder="Typing block. type here."
    placeholder="Type here..."
    class="demo-full-width"
    [(ngModel)]="workingWord"
    [class.invalid]="!wordIsValid"
   (keyup)="checkWord()" >

  </md-input>
   <button md-raised-button color="primary" (click)="resetRace()">Start again</button>

   <div class="summray">
     {{ totalSpeed }} WPM
   </div>

</div>
